$colorfondo:#161B31;
$colortitulo:#19D1AF;
$colorboton:#12BC78;
@import'./Mixins/mixin';

body{
    background-color: $colorfondo;
}
*{
    padding: 0;
    margin: 0;
}
#contenedor_principal{
    padding-top: 50px;
}
#contenedor_secundario{
    margin: 0 auto;
    width: 1024px;

}
#nissa{
    width: 308px;
    height: 560px;
    padding-left:150px;
    float: left;
}
#thresh{
    width: 308px;
    height: 560px;
    padding-left:104px;
    padding-right: 100px;
}
h1{
    color: $colortitulo;
    text-align: center;
    padding-bottom: 60px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
#threshb{
    padding: 15px;
    margin-top: 40px;
    margin-left: 240px;
    color: $colorfondo;
    background-color: $colorboton;
    font-size: 20px;
}
#nissab{
    padding: 15px;
    margin-top: 40px;
    margin-left: 270px;
    color: $colorfondo;
    background-color: $colorboton;
    font-size: 20px;
}

.modal {
    @include modal;
}

.contenidoModal {
    @include modalContenido;
}

.cerrar {
    @include close;
}

.cerrar:hover, .close:focus {
    @include close_Hover;
}