$colorfondo:#161B31;
$colortitulo:#19D1AF;
$colorboton:#12BC78;
@import'./Mixins/mixin';

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background-color: $colorfondo;
    font-family: 'Courier Prime', monospace;
    padding: 0;
    margin: 0;
    padding-top: 50px;
}

.estructura{
    margin: 0 auto;
    width: 1024px;

}
.nissa{
    width: 308px;
    height: 560px;
    padding-left:150px;
    float: left;
}
.thresh{
    width: 308px;
    height: 560px;
    padding-left:104px;
    padding-right: 100px;
}
h1{
    color: $colortitulo;
    text-align: center;
    padding-bottom: 60px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.threshb{
    padding: 15px;
    margin-top: 40px;
    margin-left: 250px;
    color: $colorfondo;
    background-color: $colorboton;
    font-size: 20px;
}
.nissab{
    padding: 15px;
    margin-top: 40px;
    margin-left: 250px;
    color: $colorfondo;
    background-color: $colorboton;
    font-size: 20px;
    
}

.modal {
    @include modal;
}

.contenidoModal {
    @include modalContenido;
}

.cerrar {
    @include close;
}

.cerrar:hover, .close:focus {
    @include close_Hover;
}
.salir:hover, .salir:focus {
    @include close_Hover;
}

.titulo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: #027A42;
}

.lol {
    @include subTitulo; 
}

.magic {
    @include subTitulo;
}

.historia{
    @include contenido;
}

.imagen{
    @include imagen;
}
.ocultar {
    display: none;
}
