* {
  padding: 0;
  margin: 0; }

#contenedor_secundario {
  margin: 0 auto;
  width: 1024px;
  background-color: #12BC78; }

#nissa {
  width: 308px;
  height: 560px;
  padding-left: 204px; }

h1 {
  color: #19D1AF;
  text-align: center; }
